<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <head th:include="/common/main_head :: head"></head>
    <title>楠宇科技</title>
</head>
<body>
<header th:include="/common/main_body_head :: bodyHeadNavgation" class="m-hd"></header>
<div class="m-header-banner m-list-header" style="background: url(/images/case-bg.jpg) 50% 0 no-repeat fixed;">
    <section class="am-container">
        <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 339}">
            <h2>案例</h2>
            <p>力求视觉与交互的完美契合，以规范的流程和专注的态度，为您提供全方位的设计服务。</p>
        </hgroup>
    </section>
</div>
<nav class="m-cat-nav"></nav>
<div class="am-container m-list">
    <article>
        <section class="m-case-list">
            <ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-3 am-thumbnails">
                <li>
                    <figure class="effect-lily">
                        <img src="/images/loading.gif" alt="南京启凡英语课程专题" data-echo="/images/case/timg.jpg"
                             class="am-img-responsive"/>
                        <figcaption>
                            <h3>黑龙江捷森经贸有限公司</h3>
                            <!--<p>南京唯一一家欧洲教育管理培训中心</p>-->
                            <a href="/post/62.html">View more</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="effect-lily">
                        <img src="/images/loading.gif" alt="广州唯一印象婚纱摄影" data-echo="/images/case/timg2.jpg"
                             class="am-img-responsive"/>
                        <figcaption>
                            <h3>黑龙江寒地黑土物流管理有限公司</h3>
                            <!--<p>专注高端定制婚纱摄影</p>-->
                            <a href="/post/62.html">View more</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="effect-lily">
                        <img src="/images/loading.gif" alt="广州立冠创新科技有限公司" data-echo="/images/case/11.jpg"
                             class="am-img-responsive"/>
                        <figcaption>
                            <h3>哈尔滨东酷装饰有限公司</h3>
                            <!--<p>一家专业从事机箱电源的企业</p>-->
                            <a href="/post/62.html">View more</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </article>
</div>
<footer th:include="/common/main_body_footer :: bodyFooter" class="m-footer"></footer>
<div th:include="/common/main_body_javascript :: js"></div>
</body>
</html>