<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <head th:include="/common/main_head :: head"></head>
    <title>楠宇科技</title>
</head>
<body>
<header th:include="/common/main_body_head :: bodyHeadNavgation" class="m-hd"></header>
<div class="m-header-banner m-list-header" style="background: url(/images/about-bg.jpg) 50% 0 no-repeat fixed;">
    <section class="am-container">
        <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 107}">
            <h2>关于我们</h2>
            <p>永不畏惧创新，高端网站定制，标新立异来自楠宇助您在网络领域超越同行者。</p>
        </hgroup>
    </section>
</div>
<nav class="m-cat-nav"></nav>
<div class="am-container">
    <section class="m-mn-box">
        <!--<p><br/></p>-->
        <p>
            深度挖掘潜力，洞察客户群体思维，制定智能化的网络规划从发现到创新。
        </p>
        <ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3 am-thumbnails list-paddingleft-2">
            <li>
                <img src="/images/about/01.jpg" class="am-img-responsive" alt="网站设计经验"/>
                <h3>经验</h3>
                <p>拥有超过11年行业经验的资深领队及大中小型弱电方案施工经验，服务近百家品牌企业。</p>
            </li>
            <li>
                <img src="/images/about/02.jpg" class="am-img-responsive" alt="专业网站代码"/>
                <h3>专业</h3>
                <p>我们整合弱电系统工程项目，不断追求完美和卓越，渴望成为智能化网路的引领者。</p>
            </li>
            <li>
                <img src="/images/about/07.jpg" class="am-img-responsive" alt="创新网站设计"/>
                <h3>服务</h3>
                <p>本着以客户为中心的服务理念，客户的核心就是我们业务努力的方向，以此做为我们业务核心思想。</p>
            </li>
        </ul>
        <p>楠宇科技成立于2017年，是一家提供专业计算机技术服务及软、硬件技术支持、弱电系统集成、网络工程、综合布线、软件开发、IT设备销售及维护、网站制作、楼宇对讲、视频监控工程为主营的聚合性企业。</p>
        <p>
            主要涉足智能类产品、网络安全类产品，专门为企业级客户提供相关软硬件产品与服务。以良好的服务信誉，优秀的服务质量和高端的服务技术赢得客户的长期信赖。作为一家专业的IT企业，我们始终坚持“服务第一、技术领先”的管理理念。经过多年的累积及发展，培养了大批专职网络、电脑硬件、软件工程师，以技术精湛、职业道德优秀、服务态度优良、工作态度严谨负责的服务团队，具备良好的客户沟通能力、现场解决问题快捷有效的技术支持，为客户提供更专业的服务；公司秉承“顾客至上，锐意进取”的经营理念，坚持“客户第一”的原则，愿与广大新老客户诚信互益，共同发展。</p>
    </section>
</div>
<footer th:include="/common/main_body_footer :: bodyFooter" class="m-footer"></footer>
<div th:include="/common/main_body_javascript :: js"></div>
</body>
</html>