<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <head th:include="/common/main_head :: head"></head>
    <title>楠宇科技</title>
</head>
<body>
<header th:include="/common/main_body_head :: bodyHeadNavgation" class="m-hd"></header>
<div class="m-header-banner m-list-header" style="background: url(/images/service-bg.jpg) 50% 0 no-repeat fixed;">
    <section class="am-container">
        <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 317}">
            <h2>外包优势</h2>
            <p>7*24小时随叫随到,快速响应,不间断服务.坐拥城市中心,交通便捷,一经召唤,迅速抵达现场.</p>
        </hgroup>
    </section>
</div>
<nav class="m-cat-nav">
</nav>
<section class="am-container m-service-page">
    <div class="m-service-container">
        <ul class="am-avg-sm-1 am-avg-md-7 am-avg-lg-7 am-thumbnails list-paddingleft-2">
            <li>
                <img src="/images/outsource/5.png" class="am-img-responsive" alt="网站设计经验"/>
            </li>
            <li>
                <img src="/images/outsource/6.png" class="am-img-responsive" alt="专业网站代码"/>
            </li>
            <li>
                <img src="/images/outsource/7.png" class="am-img-responsive" alt="创新网站设计"/>
            </li>
            <li>
                <img src="/images/outsource/8.png" class="am-img-responsive" alt="创新网站设计"/>
            </li>
            <li>
                <img src="/images/outsource/9.png" class="am-img-responsive" alt="创新网站设计"/>
            </li>
            <li>
                <img src="/images/outsource/10.png" class="am-img-responsive" alt="创新网站设计"/>
            </li>
            <li>
                <img src="/images/outsource/11.png" class="am-img-responsive" alt="创新网站设计"/>
            </li>
        </ul>
        <ul class="am-avg-sm-1 am-avg-md-1 am-avg-lg-1 am-thumbnails m-service-list">
            <li>
                <div class="am-u-lg-2 am-u-md-12 m-service-list-icon am-hide-md-down">
                    <img src="/images/outsource/1.png"/>
                </div>
                <div class="am-u-lg-10 am-u-md-12 am-u-sm-12">
                    <h3>节省开支</h3>
                    <p>
                        对中小企业来讲，计算机数量不多，雇用专职工程师需要支付相应的工资、福利和保险等费用，而维护工作量又不大，因而支出会显得较高。而采用我们的服务，可以大大降低因系统维护而造成的相关高额费用，节省企业开支。</p>
                </div>
            </li>
            <li>
                <div class="am-u-lg-2 am-u-md-12 m-service-list-icon am-hide-md-down">
                    <img src="/images/outsource/2.png"/>
                </div>
                <div class="am-u-lg-10 am-u-md-12 am-u-sm-12">
                    <h3>经验丰富</h3>
                    <p>
                        多年的维修及维护经验，能为企业提供全面技术服务，建立系统设备档案，记录分析系统维护日志，提前发现存在隐患，做好预防备案工作。我们的工程师经验丰富，能够快速的解决出现的故障，保障企业系统正常运行。</p>
                </div>
            </li>
            <li>
                <div class="am-u-lg-2 am-u-md-12 m-service-list-icon am-hide-md-down">
                    <img src="/images/outsource/3.png"/>
                </div>
                <div class="am-u-lg-10 am-u-md-12 am-u-sm-12">
                    <h3>技术全面</h3>
                    <p>
                        企业会面临很多技术问题：硬件、软件、局域网、互联网、网站建设及维护、门禁、监控、WIFI等，往往需要很多专业工程师才能完成。我们有全面的技术背景、有专业、快捷、经验丰富的精准服务，为企业提供全面的技术支持。</p>
                </div>
            </li>
            <li>
                <div class="am-u-lg-2 am-u-md-12 m-service-list-icon am-hide-md-down">
                    <img src="/images/outsource/4.png"/>
                </div>
                <div class="am-u-lg-10 am-u-md-12 am-u-sm-12">
                    <h3>服务稳定</h3>
                    <p>
                        中小企业系统维护需要稳定而专业的队伍才能保障，但IT从业人员流动性相当大，所以建立稳定的专业服务队伍非常重要。我们稳定二级安全的人才队伍和规范的服务管理流程，会给企业正常运作提供有力保障。</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<footer th:include="/common/main_body_footer :: bodyFooter" class="m-footer"></footer>
<div th:include="/common/main_body_javascript :: js"></div>
</body>
</html>