<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <head th:include="/common/main_head :: head"></head>
    <title>楠宇科技</title>
</head>
<body>
<header th:include="/common/main_body_head :: bodyHeadNavgation" class="m-hd"></header>
<div class="m-header-banner m-list-header" style="background: url(/images/contact-bg-1.jpg) 50% 0 no-repeat fixed;">
    <section class="am-container">
        <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 267}">
            <h2>联系我们</h2>
            <p>拥有不一样的高端品牌网站，你还在等什么？可以从以下方式联系我们。</p>
        </hgroup>
    </section>
</div>
<nav class="m-cat-nav"></nav>
<div class="am-container m-contact-page">
    <article class="m-mn-box">
        <section>
            <!--<p><br/></p>-->
            <h3>改变自己，从联系俊贰开始。</h3>
            <p>创造有活力的品牌网站，提升用户体验和品牌价值感</p>
            <ul class="am-avg-sm-1 am-avg-md-4 am-avg-lg-4 am-thumbnails list-paddingleft-2">
                <li>
                    <div class="m-contact-infobox">
                        <h3>
                            <em class="am-icon-phone-square"></em> 187-4572-0868
                        </h3>
                    </div>
                </li>
                <li>
                    <div class="m-contact-infobox">
                        <h3>
                            <em class="am-icon-qq"></em> 531555455
                        </h3>
                    </div>
                </li>
                <li>
                    <div class="m-contact-infobox">
                        <h3>
                            <em class="am-icon-weixin"></em> linan933099
                        </h3>
                    </div>
                </li>
                <li>
                    <div class="m-contact-infobox">
                        <h3>
                            <em class="am-icon-envelope"></em> 531555455@qq.com
                        </h3>
                    </div>
                </li>
            </ul>
        </section>
    </article>
</div>
<footer th:include="/common/main_body_footer :: bodyFooter" class="m-footer"></footer>
<div th:include="/common/main_body_javascript :: js"></div>
</body>
</html>